<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			function irj(){
				console.log("ok")
				let szoveg = document.getElementById('ta').value;
				//document.getElementById('ki').innerHTML = szoveg;
				$.ajax({
					url: '/api/',
					method: 'POST',
					data: {
						x: szoveg,
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: function(data){
						console.log(data);
					}
				}).done(function(msg) {
					document.getElementById('ki').innerHTML = szoveg;
				});
			}
		</script>
	</head>
	<body>
		<form method="post" action="/create/">
			<!-- {{form.as_p}} -->
			<textarea id="ta" name="content" rows="15" cols="100"></textarea>
			<button type="submit" name="save">Create New</button>
		</form>
		
		<button onclick="irj()">irj</button>
		
		<p id="ki"></p>
		
	</body>
</html>