<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'sh_style.css' %}">
		<link rel="stylesheet" href="{% static 'Treant.css' %}">
		<!--<link rel="stylesheet" href="{% static 'super-simple.css' %}">-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'sh_main.js' %}"></script>
		<script type="text/javascript" src="{% static 'sh_python.js' %}"></script>
		<script>
			var SOURCE_CODE = '';
			var DATA = {'lineno':1, 'localvars':[]};
			var ROWS = {}; //key: pointer, value: element
			var ONLY_GLOBAL_POINTERS = [];
			var EXPRESSION_ANALYSIS_IT = null;
			
			function py_api_request(command, args, callback){
				$.ajax({
					url: '/api/',
					method: 'POST',
					data: {
						command: command,
						args: JSON.stringify(args),
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: callback
				}).done(function(msg) {
					//semmi
				});
			}

			function testButtonPressed(){
				let nodeStructure = DATA['expr']['treant'];
				nodeStructure = JSON.stringify(nodeStructure);
				console.log(nodeStructure);
				nodeStructure = encodeURIComponent(nodeStructure);
				//createTreant(nodeStructure);

				window.open("../tree?nodeStructure=" + nodeStructure, "Tree", "height=600,width=800");
			}
			
			function readcode(){
				let source_code = document.getElementById('ta').value;

				let args = { 'source_code': source_code };
				startAnalysis(args);
			}

			function startAnalysis(args){
				py_api_request('start', args, function(data){
					data = JSON.parse(data);

					console.log(data);
					if(data['compile_success']){
						SOURCE_CODE = data['source_code'];

						let objectsToHide = document.getElementsByClassName("preAnalysis");
						for(let i=0; i<objectsToHide.length; i++)
							objectsToHide[i].style.display = "none";
						let objectsToShow = document.getElementsByClassName("duringAnalysis");
						for(let i=0; i<objectsToShow.length; i++)
							objectsToShow[i].style.display = "block";

						let formattedCode = getFormattedCode();
						document.getElementById('ki').innerHTML = formattedCode;
						sh_highlightDocument();
					}
					else{
						document.getElementById('outputField').innerHTML = data['error_message'];
					}
				});
			}
			
			function step(){
				if(EXPRESSION_ANALYSIS_IT !== null){
					console.log("steppeljünk");
					EXPRESSION_ANALYSIS_IT ++;
					setData(null);
				}

				else{
					py_api_request('step', {}, function(data){
						setData(data);
					});
				}
			}
			
			function next(){
				if(EXPRESSION_ANALYSIS_IT !== null)
					EXPRESSION_ANALYSIS_IT = DATA['expr']['sequence'].length;

				py_api_request('next', {}, function(data){
					setData(data);
				});
			}
			
			function analyzeExpression(){
				EXPRESSION_ANALYSIS_IT = 0;
				setData(null);
			}

			function openTreant(){
				let nodeStructure = DATA['expr']['treant'];
				nodeStructure = JSON.stringify(nodeStructure);
				nodeStructure = encodeURIComponent(nodeStructure);
				window.open("../tree?nodeStructure=" + nodeStructure, "Tree", "height=600,width=800");
			}
			
			function exit_code(){
				py_api_request('exit', {}, function(data){
					DATA = JSON.parse(data);
					console.log("kiléptem");
					history.go(0);
					location.reload();
					return false;
				});
			}

			function setData(data){
				if(data !== null)
					DATA = JSON.parse(data);

				if(DATA['error'] === null){

					let formattedCode = getFormattedCode();
					document.getElementById('ki').innerHTML = formattedCode;
					sh_highlightDocument();
					document.getElementById('variables').innerHTML = makeTable(DATA['localvars']);
					document.getElementById('outputField').innerHTML = DATA['output'];

					addRowFunctions(DATA['localvars']);

					scrollToArrow();


					let expressionAnalysisButton = document.getElementById('expressionAnalysisButton');
					let openTreantButton = document.getElementById('treantButton');
					let expressionAnalysisField = document.getElementById('expressionAnalysisField');
					//ha el lehet indítani az expression anaylsis-t, de még nem indítottuk el
					if(DATA['expr'] !== null && EXPRESSION_ANALYSIS_IT === null){
						expressionAnalysisButton.style.display = "block";
					}

					//ha már megy
					else if(EXPRESSION_ANALYSIS_IT !== null &&
						DATA['expr'] !== null &&
						EXPRESSION_ANALYSIS_IT < DATA['expr']['sequence'].length){
						expressionAnalysisButton.style.display = "none";
						expressionAnalysisField.style.display = "block";
						openTreantButton.style.display = "block";

						expressionAnalysisField.innerHTML = DATA['expr']['sequence'][EXPRESSION_ANALYSIS_IT];
					}

					//ha nincs expression analysis
					else{
						expressionAnalysisButton.style.display = "none";
						expressionAnalysisField.style.display = "none";
						openTreantButton.style.display = "none";
						EXPRESSION_ANALYSIS_IT = null;
					}
				}

				//runtime error on user's code
				else{
					let objectsToHide = document.getElementsByClassName("duringAnalysis");
					for(let i=0; i<objectsToHide.length; i++)
						objectsToHide[i].style.display = "none";
					document.getElementById("exitCodeButton").style.display = "block";
					document.getElementById('outputField').innerHTML += '\n' + DATA['error'];
				}
			}

			function scrollToArrow(){
				let lineno = DATA['lineno'];
				let total_lines = SOURCE_CODE.split('\n').length;
				let total_pixels = document.getElementById("ki").scrollHeight;
				let visible_pixels = document.getElementById("ki").offsetHeight;

				let scroll_to_pixel = total_pixels*lineno/total_lines - visible_pixels/2;
				document.getElementById("ki").scroll(0, scroll_to_pixel);
			}

			function getFormattedCode(){
				let lines = SOURCE_CODE.split('\n');
				let ret = "";
				for(let i=0; i<lines.length; i++){
					if(i+1 == DATA['lineno']){
						ret += "➔ ";
					}
					else{
						ret += "  ";
					}
					ret += lines[i];
					ret += "\n";
				}
				return ret;
			}
			
			function makeCodeMtx(){
				let lines = SOURCE_CODE.split('\n');
				let ret = [];
				for(let i=0; i<lines.length; i++){
					console.log(lines[i]);
					let maybeArrow = DATA['lineno'] == i+1 ? '➔' : '';
					ret.push([maybeArrow, lines[i]]);
				}
				return ret;
			}

			function makeTable(localvars){
				//TODO ha esetleg html cuccok lennének a táblázat mezőiben, azokat escape-elni valahogy

				let ret = "<table border=1>";

				for(let i=0; i<localvars.length; i++){
					let v = localvars[i];
					let backgroundColor = v['is_local'] ? '#FFFFFF' : '#888888';
					if(v['is_global'] && !v['is_local']){
						ONLY_GLOBAL_POINTERS.push(v['pointer']);
					}

					ret += '<tr ';
					ret += 'class="pointer_' + v['pointer'] + '" ';
					ret += 'style="background-color:' + backgroundColor + '">';
					//ret += '<tr>';
					ret += "<td>" + v['name'] + "</td>";
					//if(! v['is_udt']){
					if(! v['is_container']){
						
						if(! v['defined_elsewhere']){
							ret += "<td>" + v['type'] + "</td>";
							ret += "<td>" + v['value'] + "</td>";
						}
						else{
							ret += "<td></td>";
							ret += "<td>máshol definiált</td>";
						}

					}

					else{
						ret += "<td>" + v['type'] + "</td>";
						ret += "<td>" + makeTable(v['children']) + "</td>";
					}
					ret += "</tr>";
				}

				ret += "</table>";
				return ret;
			}

			function getPointerMap(localvars, start=true){
				let ret = {};
				if(start){
					for(let i=0; i<localvars.length; i++){
						let v = localvars[i];
						ret = Object.assign({}, ret, getPointerMap(v, false));
					}
					return ret;
				} else {
					let pointer = localvars['pointer'];
					ret[pointer] = document.getElementsByClassName("pointer_" + pointer);
					for(let i=0; i<localvars['children'].length; i++){
						let v = localvars['children'][i];
						ret = Object.assign({}, ret, getPointerMap(v, false));
					}
				}
				return ret;
			}

			function addRowFunctions(localvars){
				let pointerMap = getPointerMap(localvars);
				console.log("pointermap", pointerMap);
				for(var pointer in pointerMap){
					let objArr = pointerMap[pointer];
					let className = "pointer_" + pointer;

					for(let i=0; i<objArr.length; i++){

						function mouseEnter(event){
							console.log("rajta vagyok");
							let elementsToHighlight = document.getElementsByClassName(className);
							for(let j=0; j<elementsToHighlight.length; j++){
								if(objArr[i] == elementsToHighlight[j])
									continue;
								elementsToHighlight[j].style.backgroundColor = "#FFFF00";
							}
						}

						//TODO eredeti színre visszaállítani
						function mouseLeave(event){
							let elementsToHighlight = document.getElementsByClassName(className);
							for(let j=0; j<elementsToHighlight.length; j++){
								elementsToHighlight[j].style.backgroundColor = "#FFFFFF";
							}
						}

						function mouseClick(event){
							if(IS_MODIFYING)
								return;

							console.log(event);
							LAST_CLICKED = event.target;
							let row = event.target;
							while(row.nodeName != "TR")
								row = row.parentElement;

							let leftCell = row.childNodes[0];
							let rightCell = row.childNodes[row.childNodes.length-1];

							let changeFrom = rightCell.innerHTML;
							rightCell.innerHTML = "változás szele";
							let inputField = document.createElement("INPUT");
							inputField.value = changeFrom;
							rightCell.innerHTML = "";
							rightCell.appendChild(inputField);

							inputField.focus();
							IS_MODIFYING = true;

							inputField.addEventListener("keyup", function(event2){
								event2.preventDefault();
								let self = event2.target;
								if(event2.keyCode === 13 && self === document.activeElement){ //ENTER
									console.log("első", event2);
									console.log("changeto", self.value);
									IS_MODIFYING = false;

									//TODO elgánsabban, mikor csinálom a highlightot
									let args = {'var_name': leftCell.innerText, 'value': self.value}
									py_api_request('modify', args, function(data){
										setData(data);
									});

								}
								else if(event2.keyCode === 27){ //ESCAPE
									rightCell.innerHTML = changeFrom;
									rightCell.removeChild(self);
									IS_MODIFYING = false;
								}
							});
						}

						//objArr[i].addEventListener("mouseover", mouseEnter);
						//objArr[i].addEventListener("mouseleave", mouseLeave);
						objArr[i].addEventListener("click", mouseClick);
					}
				}
			}

		var IS_MODIFYING = false;
		var LAST_CLICKED;

		</script>
	</head>
	<body>
		<div class="split left">

			<textarea id="ta" name="content" class="preAnalysis" rows="15" cols="75">{{usercode}}</textarea>
			<script type="text/javascript" src="{% static 'allowtabs.js' %}"></script>

		
			<select class="preAnalysis" onchange="onSelectExample(this)">
				<option selected value="">Select example</option>
			{% for example_file in example_files %}
				<option value="{{example_file}}">{{example_file}}</option>
			{% endfor %}
			</select><br><br>
			<script>
				function onSelectExample(x){
					let filename = x.selectedOptions[0].value;
					if(filename){
						let args = { 'example_file_name': filename };
						startAnalysis(args);
					}
				}
			</script>

			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input class="preAnalysis" type="file" name="usercode" onchange="onFileUpload(this)">
			</form>
			<script>
				function onFileUpload(x){
					if(x.files[0].size > 1024*1024)
						alert("Uploaded file is too big (max size is 1 MB)");
					else
						x.form.submit();
				}
			</script>
			
			<button class="preAnalysis" onclick="readcode()">Read code</button> 
			<br>

			<pre class="sh_python duringAnalysis">
				<p id="ki" class="duringAnalysis" style="overflow-y: scroll; height:300px;"></p>
			</pre>
			<button class="duringAnalysis" onclick="step()" style="display:none;">Step</button><br>
			<button class="duringAnalysis" onclick="next()" style="display:none;">Next</button><br>
			<button id="expressionAnalysisButton" onclick="analyzeExpression()" style="display:none;">Analyize Expression</button><br>
			<button id="treantButton" onclick="openTreant()" style="display:none;">Abstract Syntax Tree</button><br>
			<button id="exitCodeButton" class="duringAnalysis" onclick="exit_code()" style="display:none;">Exit code</button><br>
			<button onclick="testButtonPressed()">Teszt</button>
			<pre>
				<p>---Output---</p>
				<p id="outputField"></p>
			</pre>
		</div>
		<div class="split right">
			<pre>
				<p id="expressionAnalysisField"></p>
				<p id="variables"></p>
			</pre>
		</div>
	</body>
</html>