<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'sh_style.css' %}">
		<link rel="stylesheet" href="{% static 'Treant.css' %}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'sh_main.js' %}"></script>
		<script type="text/javascript" src="{% static 'sh_python.js' %}"></script>
		<script>
			var SOURCE_CODE = '';
			var DATA = {'lineno':1, 'allvars':[]}; //this global variable stores the dictionary with the current state
			var ROWS = {}; //key: pointer, value: element
			//var ONLY_GLOBAL_POINTERS = [];
			var EXPRESSION_ANALYSIS_IT = null;
			
			//AJAX call to the API, that communicates with the backend
			function py_api_request(command, args, callback){
				$.ajax({
					url: '/api/',
					method: 'POST',
					data: {
						command: command,
						args: JSON.stringify(args),
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},
					success: callback
				}).done(function(msg) {
					//semmi
				});
			}
			
			//readCode button clicked
			function readcode(){
				let source_code = document.getElementById('ta').value;

				let args = { 'source_code': source_code };
				startAnalysis(args);
			}


			function startAnalysis(args){
				py_api_request('start', args, function(data){
					data = JSON.parse(data);

					console.log(data);
					if(data['compile_success']){
						//starting the analysis
						SOURCE_CODE = data['source_code'];
						
						//hide all objects that are for preAnalysis
						let objectsToHide = document.getElementsByClassName("preAnalysis");
						for(let i=0; i<objectsToHide.length; i++){
							objectsToHide[i].style.visibility = "hidden";
							objectsToHide[i].style.maxHeight = "0px";

						}

						//show all objects that are for duringAnalysis
						let objectsToShow = document.getElementsByClassName("duringAnalysis");
						for(let i=0; i<objectsToShow.length; i++){
							objectsToShow[i].style.visibility = "visible";
							objectsToShow[i].style.maxHeight = "none";
						}


						//make the analyzed code field and the output field visible
						let formattedCode = getFormattedCode();
						let ki = document.getElementById('ki');
						ki.innerHTML = formattedCode;
						ki.style.height = "300px";
						let outputField = document.getElementById('outputField');
						outputField.height = "100px";



						let expressionAnalysisButton = document.getElementById('expressionAnalysisButton');
						let openTreantButton = document.getElementById('treantButton');
						let expressionAnalysisField = document.getElementById('expressionAnalysisField');


						setData(JSON.stringify(data));
						sh_highlightDocument(); //foreign library to syntax highlight code
					}
					else{
						alert(data['error_message']);
						document.getElementById('outputField').innerHTML = data['error_message'];
					}
				});
			}
			
			//step button pressed
			function step(){
				//if there is an expression analysis running currently, make a step in that
				if(EXPRESSION_ANALYSIS_IT !== null){
					EXPRESSION_ANALYSIS_IT ++;
					setData(null);
				}

				//otherwise step the script
				else{
					py_api_request('step', {}, function(data){
						setData(data);
					});
				}
			}
			
			//next button pressed
			function next(){
				//if there is an expression analysis running currently, exit it and step to the next line
				if(EXPRESSION_ANALYSIS_IT !== null)
					EXPRESSION_ANALYSIS_IT = DATA['expr']['sequence'].length;

				//otherwise step to the next line
				py_api_request('next', {}, function(data){
					setData(data);
				});
			}
			
			//analyze expression button pressed
			function analyzeExpression(){
				EXPRESSION_ANALYSIS_IT = 0;

				//set the width of the expression analysis field, according
				//to the longes string in the sequence
				let expressionAnalysisSpan = document.getElementById('expressionAnalysisSpan');
				let seq = DATA['expr']['sequence'];
				let maxWidth = 0;
				let actWidth;
				for(let i=0; i<seq.length; i++){
					expressionAnalysisSpan.innerHTML = seq[i];
					actWidth = expressionAnalysisSpan.clientWidth;
					if(actWidth > maxWidth)
						maxWidth = actWidth
				}
				
				//make the expression analysis field visible
				document.getElementById('expressionAnalysisField').style.width = 1*maxWidth;
				document.getElementById('expressionAnalysisField').style.height = "50px";

				setData(null);
			}

			//open the expression tree in a new window
			function openTreant(){
				let nodeStructure = DATA['expr']['treant'];
				nodeStructure = JSON.stringify(nodeStructure);
				window.open("../tree?nodeStructure=" + nodeStructure, "Tree", "height=600,width=800");
			}
			
			//exit code button pressed, stop analysis
			function exit_code(){
				py_api_request('exit', {}, function(data){
					DATA = JSON.parse(data);
					history.go(0);
					location.reload();
					return false;
				});
			}

			function setData(data){
				if(data !== null)
					DATA = JSON.parse(data);

				if(DATA['error'] === null && DATA['isover'] === false){

					let formattedCode = getFormattedCode();
					//update arrow pointing at the current line
					document.getElementById('ki').innerHTML = formattedCode;
					sh_highlightDocument(); //foreign library to syntax highlight code
					//update variables table
					document.getElementById('variables').innerHTML = makeTable(DATA['allvars']);
					//update output field
					document.getElementById('outputField').innerHTML = DATA['output'];

					addRowFunctions(DATA['allvars']);

					scrollToArrow();


					let expressionAnalysisButton = document.getElementById('expressionAnalysisButton');
					let openTreantButton = document.getElementById('treantButton');
					let expressionAnalysisField = document.getElementById('expressionAnalysisField');
					let expressionAnalysisSpan = document.getElementById('expressionAnalysisSpan');

					//if it is possible to start an expression analysis, but we haven't started it yet
					if(DATA['expr'] !== null && EXPRESSION_ANALYSIS_IT === null){
						expressionAnalysisButton.style.visibility = "visible";
						expressionAnalysisButton.style.maxHeight = "none";
					}

					//if the expression analysis is running
					else if(EXPRESSION_ANALYSIS_IT !== null &&
						DATA['expr'] !== null &&
						EXPRESSION_ANALYSIS_IT < DATA['expr']['sequence'].length){

						//hide expression analysis button
						expressionAnalysisButton.style.visibility = "hidden";
						expressionAnalysisButton.style.maxHeight = "0px";

						//show expression analysis field
						expressionAnalysisField.style.visibility = "visible";
						expressionAnalysisField.style.maxHeight = "none";

						//show open treant button
						openTreantButton.style.visibility = "visible";
						openTreantButton.style.maxHeight = "none";

						expressionAnalysisSpan.innerHTML = DATA['expr']['sequence'][EXPRESSION_ANALYSIS_IT];
					}

					//if there is no expression analysis
					else{
						expressionAnalysisButton.style.visibility = "hidden";
						expressionAnalysisButton.style.maxHeight = "0px";


						expressionAnalysisField.style.visibility = "hidden";
						expressionAnalysisField.style.maxHeight = "0px";

						openTreantButton.style.visibility = "hidden";
						openTreantButton.style.maxHeight = "0px";
						EXPRESSION_ANALYSIS_IT = null;
					}
				}

				//runtime error on user's code or code is over
				else{
					//hide all 'duringAnalysis' objects,
					//as the analysis stopped because of an error
					let objectsToHide = document.getElementsByClassName("duringAnalysis");
					for(let i=0; i<objectsToHide.length; i++){
						if(objectsToHide[i].classList.contains("duringError"))
							continue;
						objectsToHide[i].style.visibility = "hidden";
						objectsToHide[i].style.maxHeight = "0px";
					}
					document.getElementById("exitCodeButton").style.visibility = "visible";
					document.getElementById("exitCodeButton").style.maxHeight = "none";
					document.getElementById('ki').style.visibility = "visible";
					document.getElementById('ki').style.maxHeight = "none";

					//print the error message to the outputField
					if(DATA['error'] !== null){
						document.getElementById('outputField').style.visibility = "visible";
						document.getElementById('outputField').style.maxHeight = "none";
						document.getElementById('outputField').innerHTML += '\n' + DATA['error'];
					}
				}
			}

			//if the code is long, we autoscroll, so that the arrow will be in the middle
			//of the visible part of the code section
			function scrollToArrow(){
				let lineno = DATA['lineno'];
				let total_lines = SOURCE_CODE.split('\n').length;
				let total_pixels = document.getElementById("ki").scrollHeight;
				let visible_pixels = document.getElementById("ki").offsetHeight;

				let scroll_to_pixel = total_pixels*lineno/total_lines - visible_pixels/2;
				document.getElementById("ki").scroll(0, scroll_to_pixel);
			}

			//puts the arrow character to the left of the current line
			function getFormattedCode(){
				let lines = SOURCE_CODE.split('\n');
				let ret = "";
				for(let i=0; i<lines.length; i++){
					if(i+1 == DATA['lineno']){
						ret += "➔ ";
					}
					else{
						ret += "  ";
					}
					ret += lines[i];
					ret += "\n";
				}
				return ret;
			}

			//add new variable
			function addVariableButtonClicked(){
				//create a table of 4 cells
				let table = document.getElementById("variables").childNodes[0];
				let nrows = table.rows.length;
				let newRow = table.insertRow(nrows);
				newRow.classList.add("local-var");
				let cell0 = newRow.insertCell(0); //the first column is reserved for the delete button
				let cell1 = newRow.insertCell(1);
				let cell2 = newRow.insertCell(2);
				let cell3 = newRow.insertCell(3);
				let cells = [cell0, cell1, cell2, cell3];
				let inputFields = [null];

				//put input fields to the last three cells
				for(let i=1; i<4; i++){
					let actcell = cells[i];
					let inputField = document.createElement("INPUT");
					inputField.value = '';
					if(i < 3)
						inputField.size = 1;
					inputFields.push(inputField);
				}

				//add listener to the ENTER and ESCAPE buttons
				//ENTER: send newvar request to the backend
				//ESCAPE: exit 'new variable' mode
				function onKeyUp(event){
					event.preventDefault();
					if(event.keyCode === 13 && inputFields.includes(document.activeElement)){ //ENTER
						let args = {
							'var_name': inputFields[1].value,
							'var_type': inputFields[2].value,
							'value': inputFields[3].value,
						}

						py_api_request('newvar', args, function(data){
							setData(data);
						});

					}
					else if(event.keyCode === 27){ //ESCAPE
						setData(null);
					}
				}

				for(let i=1; i<4; i++){
					inputField = inputFields[i];
					actcell = cells[i];
					inputField.addEventListener("keyup", onKeyUp);
					actcell.appendChild(inputField);
				}
			}

			//generate table for the variables
			function makeTable(allvars){

				let ret = "<table border=1>";

				for(let i=0; i<allvars.length; i++){
					let v = allvars[i];
					//let backgroundColor = v['is_local'] ? '#FFFFFF' : '#888888';
					/*
					if(v['is_global'] && !v['is_local']){
						ONLY_GLOBAL_POINTERS.push(v['pointer']);
					}
					*/

					ret += '<tr style="min-height:23px;" ';
					//let the row have a name of the memory address of the variable
					//this way we can easily pair references
					ret += 'class="pointer_' + v['pointer'];
					//let another classname be either local-var or nonlocal-var
					//later, we color the background accordingly
					ret += v['is_local'] ? ' local-var' : ' nonlocal-var';
					ret += '">';
					ret += '<td style="min-width:10px;text-align:center;">';
					//if the variable is local, we can delete it
					if(v['is_local']){
						ret += '<img src="/static/x.png" alt="Delete row">'
					}
					ret += '</td>';
					ret += '<td style="min-width:50px;">' + v['name'] + "</td>";
					
					if(! v['is_container']){
						
						//if it's not only a reference, fill out the type and the value
						if(! v['defined_elsewhere']){
							ret += '<td style="min-width:50px">' + v['type'] + "</td>";

							let value;
							if(v['value'] === true)
								value = 'True';
							else if(v['value'] === false)
								value = 'False';
							else if(v['value'] === null)
								value = 'None';
							else
								value = v['value'];
							ret += '<td style="white-space: pre-wrap; min-width:100px">' + value + "</td>";
						}

						//otherwise, just mark it as ( reference )
						else{
							ret += '<td style="min-width:50px"></td>';
							ret += '<td style="min-width:50px">( reference )</td>';
						}

					}

					//if it is a container, generate another table with its content, recursively
					else{
						ret += '<td style="min-width:50px">' + v['type'] + "</td>";
						ret += '<td style="min-width:50px">' + makeTable(v['children']) + "</td>";
					}
					ret += "</tr>";
				}

				ret += "</table>";
				return ret;
			}

			//returns a dictionary where the
			//keys are the memory addresses of the variables
			//values are arrays of HTML elements of the rows that correspond to the memory address
			function getPointerMap(allvars, start=true){
				let ret = {};
				if(start){
					for(let i=0; i<allvars.length; i++){
						let v = allvars[i];
						ret = Object.assign({}, ret, getPointerMap(v, false));
					}
					return ret;
				} else {
					let pointer = allvars['pointer'];
					ret[pointer] = document.getElementsByClassName("pointer_" + pointer);
					for(let i=0; i<allvars['children'].length; i++){
						let v = allvars['children'][i];
						ret = Object.assign({}, ret, getPointerMap(v, false));
					}
				}
				return ret;
			}


			//add listeners to the rows of the variable table,
			//so that it can highlight other variables on the same
			//memory address, when hovered over,
			//or to enter modify-variable mode when clicked
			//or delete it when the X is clicked
			function addRowFunctions(allvars){
				let pointerMap = getPointerMap(allvars);
				for(var pointer in pointerMap){
					let objArr = pointerMap[pointer];
					let className = "pointer_" + pointer;

					for(let i=0; i<objArr.length; i++){

						//when hovered over, highlight rows that represent
						//variables with the same memory address
						function mouseEnter(event){
							let elementsToHighlight = document.getElementsByClassName(className);
							for(let j=0; j<elementsToHighlight.length; j++){
								if(objArr[i] == elementsToHighlight[j])
									continue;
								elementsToHighlight[j].classList.add('highlighted-var');
							}
						}

						//when not hovered over, unhighlight the rows
						function mouseLeave(event){
							let elementsToHighlight = document.getElementsByClassName(className);
							for(let j=0; j<elementsToHighlight.length; j++){
								elementsToHighlight[j].classList.remove('highlighted-var');
							}
						}

						//enter modify variable mode when clicked,
						//or delete it when the X is clicked
						function mouseClick(event){
							//if we are already modifying a variable, do nothing
							if(IS_MODIFYING)
								return;

							//get the lowest level row that covers the clicked area
							let cell = event.target;
							while(cell.nodeName != "TD")
								cell = cell.parentElement;

							LAST_CLICKED = cell;
							let row = cell;
							while(row.nodeName != "TR")
								row = row.parentElement;

							//if it is nonlocal, we cannot modify it
							if(row.classList.contains('nonlocal-var'))
								return;


							let leftCell = row.childNodes[1];
							let rightCell = row.childNodes[row.childNodes.length-1];

							//send delvar command to the backend
							let deleteCell = row.childNodes[0];
							if(deleteCell === cell){
								let args = {'var_name': leftCell.innerText}
								py_api_request('delvar', args, function(data){
									setData(data);
								});
								
								return;
							}


							//generate user inputs inside of value cell
							let changeFrom = rightCell.innerHTML;
							let isDataStructure = rightCell.innerText !== rightCell.innerHTML;
							let inputField = document.createElement("INPUT");
							inputField.value = isDataStructure ? '' : changeFrom;
							rightCell.innerHTML = "";
							rightCell.appendChild(inputField);

							inputField.focus();
							IS_MODIFYING = true;

							//add listener to the ENTER and ESCAPE buttons
							//ENTER: send modify request to the backend
							//ESCAPE: exit 'modify variable' mode

							inputField.addEventListener("keyup", function(event2){
								event2.preventDefault();
								let self = event2.target;
								if(event2.keyCode === 13 && self === document.activeElement){ //ENTER
									IS_MODIFYING = false;

									let args = {'var_name': leftCell.innerText, 'value': self.value}
									py_api_request('modify', args, function(data){
										setData(data);
									});

								}
								else if(event2.keyCode === 27){ //ESCAPE
									IS_MODIFYING = false;
									rightCell.innerHTML = changeFrom;
									rightCell.removeChild(self);
								}
							});
						}

						objArr[i].addEventListener("mouseover", mouseEnter);
						objArr[i].addEventListener("mouseleave", mouseLeave);
						objArr[i].addEventListener("click", mouseClick);
					}
				}
			}

		var IS_MODIFYING = false;
		var LAST_CLICKED;

		</script>
	</head>
	<body onload="document.getElementById('selectExample').selectedIndex=0;">
		<div id="container">
			<div id="header">
				<img src="/static/banner.png" alt="Step-py-Step banner" style="width:400px">
			</div>

			<div id="content">
				<div id="columns-container">
					<div class="column column-a">

						<textarea id="ta" name="content" class="preAnalysis" rows="15" cols="75">{{usercode}}</textarea>
						<script type="text/javascript" src="{% static 'allowtabs.js' %}"></script>

					
						<div class="preAnalysis">
							<select id="selectExample" class="preAnalysis" onchange="onSelectExample(this)">
								<option selected value="">Select demo</option>
							{% for example_file in example_files %}
								<option value="{{example_file}}">{{example_file}}</option>
							{% endfor %}
							</select><br>
							<script>
								function onSelectExample(x){
									let filename = x.selectedOptions[0].value;
									if(filename){
										let args = { 'example_file_name': filename };
										startAnalysis(args);
									}
								}
							</script>

							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<input class="preAnalysis" type="file" name="usercode" onchange="onFileUpload(this)">
							</form>
							<script>
								function onFileUpload(x){
									if(x.files[0].size > 1024*1024)
										alert("Uploaded file is too big (max size is 1 MB)");
									else
										x.form.submit();
								}
							</script>
							
							<button class="preAnalysis" onclick="readcode()">Read code</button> 
							<br>
						</div>

						<pre class="sh_python duringAnalysis duringError">
							<p id="ki" class="duringAnalysis duringError" style="overflow-y: scroll; height:0px; visibility: hidden"></p>
						</pre>
						<div class="duringAnalysis">
							<button class="duringAnalysis button" onclick="step()" style="visibility:hidden;max-height:0px;">Step</button><br>
							<button class="duringAnalysis button" onclick="next()" style="visibility:hidden;max-height:0px;">Next</button><br>
						</div>
						<div id="expressionAnalysisButton" class="duringExpressionAnalysis" style="visibility:hidden;max-height:0px;">
							<button onclick="analyzeExpression()" class="button">Analyize Expression</button><br>
						</div>
						<div id="treantButton" class="duringExpressionAnalysis" style="visibility:hidden;max-height:0px;">
							<button onclick="openTreant()" class="button">Abstract Syntax Tree</button>
							<br>
						</div>
						<div id="duringAnalysis duringError">
							<button id="exitCodeButton" class="duringAnalysis" onclick="exit_code()" style="visibility:hidden;max-height:0px;">Exit code</button>
							<br>
						</div>
						<pre class="duringAnalysis duringError sh_python" style="visibility: hidden; max-height: 0px;">
							<p>---Output---</p>
							<p id="outputField" style="overflow-y: scroll;"></p>
						</pre>
					</div>
					<div class="column column-b">
						<div class="duringAnalysis" style="visibility: hidden; max-height: 0px;">
							<button onclick="addVariableButtonClicked();">Add variable</button>
						</div>
						<pre style="
									visibility:hidden;
									max-height:0px;
									padding:10px;"
									class="duringExpressionAnalysis sh_python" id="expressionAnalysisField">
							<span	id="expressionAnalysisSpan"
									style="float:left;"></span>
						</pre>
						<pre>
							<p id="variables"></p>
						</pre>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>